{% include "header.html"%}
{{form.hidden_tag()}}
<div class="container">
    {% if is_edit:%}
    <form action="{{url_for('edit_score', test_id=test_id)}}" method="post">
    {% else:%}
    <form action="{{url_for('add_score', test_id=test_id)}}" method="post">
    {% endif %}
        {{form.csrf_token}}
        {% for student in form.scores: %}
        {{student.hidden_tag()}}
            <div class="row mb-3 justify-content-center">
              <div class="col-1">
                <label class="col-form-label">{{student.label}}</label>
              </div>
              <div class="col-1">
                  {{student.score}}
              </div>
            </div>
        {% endfor %}
        <div class="row justify-content-center">
            {{form.submit}}
        </div>
    </form>

</div>

{% include "footer.html"%}