{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{%include "header.html"%}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Mobile</th>
            <th scope="col">Course</th>
<!--            <th scope="col">Is Present</th>-->
        </tr>
        </thead>
        <tbody>
        {% for user in all_users:%}
        <tr>
<!--        <th scope="row">Name</th>-->
            <td>
                <a href="{{url_for('edit_user', user_id=user.id)}}">
                    {{user.name}}
                </a>
            </td>
            <td>{{user.email}}</td>
            <td>0{{user.cellphone}}</td>
            <td>{% for course in user.courses: %}
                {{course.subject}}<br>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{%include "footer.html"%}
{%endblock%}